<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bod_position.title %>
</p>

<%= link_to 'Edit', edit_bod_position_path(@bod_position) %> |
<%= link_to 'Back', bod_positions_path %>
