<!-- Navigation -->
<div class="android-navigation-container">
  <nav class="android-navigation mdl-navigation">
    <%= link_to 'Instruments', instruments_path, class: 'mdl-navigation__link mdl-typography--text-uppercase' %>
  </nav>
</div>
