<!-- Navigation -->
<div class="android-navigation-container">
  <nav class="android-navigation mdl-navigation">
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Phones</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Tablets</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Wear</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">TV</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Auto</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">One</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Play</a>
  </nav>
</div>
