<%= title 'About' %>

<h1>PREAMBLE TO THE CONSTITUTION OF THE MARCHING VIRGINIANS ALUMNI ASSOCIATION</h1>

<p>
  Be it known that The Marching Virginians Alumni Association is an organization operating exclusively for The Marching Virginians of Virginia Polytechnic Institute and State University (Virginia Tech) and for the following several purposes:
  <ul>
    <li>To foster a spirit of interest and cooperation among Marching Virginian Alumni toward the university.</li>
    <li>To support The Marching Virginians and its director(s).</li>
    <li>To encourage acquaintance and fellowship between alumni and current band members.</li>
    <li>To strive for greater recognition of The Marching Virginians.</li>
    <li>To be constantly alert for, and to stimulate the discovery of, potential talent in high schools for The Marching Virginians.</li>
    <li>To create good will for The Marching Virginians.</li>
    <li>To encourage respect for the high standards that The Marching Virginians strive to uphold.</li>
    <li>To develop a base for financial support of The Marching Virginians.</li>
  </ul>
</p>
