<%= title 'SoT Award' %>

<h1>James R. Sochinski Spirit of Tech Award Winners</h1>

<p>
Presented by the Marching Virginians Alumni Association, this is a financial award
given to a band member who exemplifies the true "Spirit of Tech" by demonstrating
outstanding citizenship and dedication during their career as a member of The
Marching Virginians.
</p>

<ul>
<li>2007 Megan McCollough</li>
<li>2006 Amber Stroupe</li>
<li>2005 Linda Gross</li>
<li>2004 Eileen Oviatt and Thomas Galyen</li>
<li>2003 Julian Davis</li>
</ul>
