/* Pagination */
.pagination > .active > a, .pagination > .active > a.hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $primary-color;
  border-color: darken($primary-color, 10);
  color: $lightest-color;
}

.pagination > li > a, .pagination > li > span {
  background-color: $lightest-color;
  border: 1px solid darken($neutral-color, 20%);
  color: $primary-color;
}

.pagination > li > a, .pagination > li > span {
  background-color: $neutral-color;
  border: 1px solid darken($neutral-color, 20%);
  color: $secondary-color;
}

div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_filter {
  text-align: left;
}

div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
}

div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  div.dataTables_length,
  div.dataTables_filter,
  div.dataTables_info,
  div.dataTables_paginate {
    text-align: center;
  }
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: '\e150';
}

table.dataTable thead .sorting_asc:after {
  content: '\e155';
}

table.dataTable thead .sorting_desc:after {
  content: '\e156';
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

table.dataTable thead > tr > th {
  padding-left: 8px;
  padding-right: 30px;
}

table.dataTable th:active {
  outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

table.table-bordered.dataTable {
  border-collapse: separate !important;
}

table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
}

table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}

table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}
